* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  content: '';
  display: table;
  clear: both;
}

.navbar_left {
  float: left;
}

.navbar_right {
  float: right;
}

.navbar_left img {
  width: 120px;
  padding-top: 20px;
  padding-left: 30px;
}

.list_left li a{
  list-style: none;
  text-decoration: none;
  color: lightgrey;
  padding-left: 25px;
}

.list_left li a:hover{
  color: black;
}

.list_left li {
  display: inline;
}

.list_right li {
  display: inline;
}

.list_right li a{
  list-style: none;
  text-decoration: none;
  color: lightgrey;
  padding-right: 40px;
  line-height: 80px;
}

.list_right li a:hover{
  color: black;
}

.fa-chevron-down {
  font-size: 10px;
}

.button_dwn {
  background-color: #FD208F;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 50px;
}

.button_dwn:hover {
  background-color: #D2007E;
  cursor: pointer;
}

//dropdown
.relative {
  position: relative;
}

.drop {
  position: absolute;
  padding: 0 10px;
  margin-top: 10px;
}
