* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  content: '';
  display: table;
  clear: both;
}

.navbar_left {
  float: left;
}

.navbar_right {
  float: right;
}

.navbar_left img {
  width: 120px;
  padding-top: 20px;
  padding-left: 30px;
}

.list_left li a{
  list-style: none;
  text-decoration: none;
  color: lightgrey;
  padding-left: 25px;
}

.list_left li a:hover{
  color: black;
}

.list_left li {
  display: inline;
}

.list_right > li {
  display: inline;
}

.list_right li a{
  list-style: none;
  text-decoration: none;
  color: lightgrey;
  padding-right: 40px;
  line-height: 80px;
}

.list_right li a:hover{
  color: black;
}

.fa-chevron-down {
  font-size: 10px;
}

.button_dwn {
  background-color: #FD208F;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 50px;
}

.button_dwn:hover {
  background-color: #D2007E;
  cursor: pointer;
}

/* dropdown */
.link_able {
  position: relative;
}

.drop {
  position: absolute;
  top: 20px;
  right: 0%;
  list-style: none;
  display: none;
  box-shadow: 1px 0px 21px -5px rgba(0,0,0,0.75);
  border-radius: 2px;
  transform: translateX(20%);
}

.drop li a {
  list-style: none;
  text-decoration: none;
  line-height: 50px;
  padding-left: 10px;
}

.active {
  display: block;
}
