* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  height: 80px;
  background-color: lime;
}

.revolut_logo {
  width: 135px;
  padding-top: 40px;
  padding-left: 50px;
}

.list_left li a{
  list-style: none;
  text-decoration: none;
  color: lightgrey;
  padding-left: 25px;
}

.list_left li a:hover{
  color: black;
}

.list_left li {
  display: inline;
}
